html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    max-width: 400px;
    width: 80%;
    margin: 40px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.table {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.table-cell {
    display: table-cell;
    width: 100px;
}

.datatable__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0;
}

.datatable__row input,
.datatable__row textarea {
    display: none;
}

.datatable__field-value {
    margin-bottom: 0;
    display: table-cell;
    width: 100px;
    font-size: 14px;
    text-align: left;
}

.datatable__row-section {
    border: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;
}

.datatable__minerals-container:empty {
    position: relative;
}

.datatable__minerals-container:empty::after {
    content: 'Currently, there are no minerals in database.';
}

.template {
    display: none;
}