#login_form {
    text-align: center;
    margin: 10% auto;
    width: 160px;
    font-family: "Candara Light", serif;
    color: #D9B08C;
    background: linear-gradient(to right, #116466, #357D7F) !important;
    padding: 10px;
    border-radius: 10px;
}

p {
    margin-bottom: 3px;
    font-size: 20px;
}

.input_field {
    background-color: #D1E8E2;
    font-family: "Candara Light", serif;
    width: 140px;
    height: 20px;
    border-radius: 5px;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-family: "Candara Light", serif;
    background: none;
    border-color: #116466;
    color: #D9B08C;
    font-size: 15px;
    clear: left;
    text-align: center;
    padding: 5px;
}