html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C3531;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-gap: 40px;
}

fieldset {
    position: relative;
    border-color: transparent;
}

label {
    position: absolute;
    text-align: right;
    width: 120px;
    left: 10px;
    top: 10px;
}

.search_field {
    margin-left: 140px;
    background-color: #D1E8E2;
    font-family: "Candara Light", serif;
    width: 100px;
}

.search_container_header {
    font-weight: bold;
    font-family: "Candara Light", serif;
    color: #D9B08C;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.search_container {
    margin: 20% auto;
    font-family: "Candara Light", serif;
    color: #D9B08C;
    background: linear-gradient(to right, #116466, #357D7F) !important;
    padding: 10px;
    border-radius: 10px;
}

.button_fieldset {
    clear: left;
    text-align: center;
}

.button {
    border-radius: 10px;
    font-family: "Candara Light", serif;
    background: none;
    border-color: #116466;
    color: #D9B08C;
    width: 80px;
    font-size: 20px;
    clear: left;
    text-align: center;
    padding: 5px;
}

.database_container {
    margin: 5% 40px 10% auto;
}

table {
    border-collapse: initial;
    color: #D9B08C;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    padding: 20px;
}

th, td {
    border: 1px solid #116466;
    font-family: "Candara Light", serif;
    padding: 8px;
}

td {
    background-color: #357D7F;
}

.headers {
    background: linear-gradient(to bottom, #116466, #357D7F) !important;
    font-weight: bold;
}