<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minerals Database Editor</title>
  <link rel="stylesheet" href="/adminPanel.css" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=latin-ext" rel="stylesheet">
</head>
<body>
<h1 class="mineralCrud-heading mineralCrud-heading--main">Database Editor</h1>

<main class="crud container">
  <section class="datatable">
    <h2>Add a new mineral</h2>
    <form
        class="datatable__row datatable__row--add"
        method="POST"
        action="http://localhost:8080/adminPanel/createMineral"
        data-mineral-add-form
    >
      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral name
        </label>
        <input type="text" name="name" placeholder="Insert a mineral name" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral color
        </label>
        <input type="text" name="color" placeholder="Insert mineral color" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral shine
        </label>
        <input type="text" name="shine" placeholder="Insert mineral shine" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral transparency
        </label>
        <input type="text" name="transparency" placeholder="Insert mineral transparency" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral fragility
        </label>
        <input type="text" name="fragility" placeholder="Insert mineral fragility" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral opalescence
        </label>
        <input type="text" name="opalescence" placeholder="Does it opalescent?" required maxlength="1">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
          Mineral region
        </label>
        <input type="text" name="region" placeholder="Insert region where mineral has been found" required minlength="3">
      </fieldset>

      <fieldset class="datatable__row-section datatable__row-section--button-section">
        <button type="submit" data-mineral-add-button class="datatable__button">Add a mineral</button>
      </fieldset>
    </form>
  </section>
  <section class="datatable">
    <h2>Minerals in database</h2>
    <div class="datatable__minerals-container" data-minerals-container></div>
  </section>
</main>

<div class="template" data-datatable-row-template>
  <form class="datatable__row" data-mineral-id="0">
    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-name-section>
      <label class="datatable__input-label">
        Mineral name
      </label>
      <textarea name="name" placeholder="Insert a new mineral name" data-mineral-name-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-name-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-color-section>
      <label class="datatable__input-label">
        Mineral color
      </label>
      <textarea name="color" placeholder="Insert new mineral color" data-mineral-color-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-color-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-shine-section>
      <label class="datatable__input-label">
        Mineral shine
      </label>
      <textarea name="shine" placeholder="Insert new mineral shine" data-mineral-shine-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-shine-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-transparency-section>
      <label class="datatable__input-label">
        Mineral transparency
      </label>
      <textarea name="transparency" placeholder="Insert new mineral transparency" data-mineral-transparency-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-transparency-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-fragility-section>
      <label class="datatable__input-label">
        Mineral fragility
      </label>
      <textarea name="fragility" placeholder="Insert new mineral fragility" data-mineral-fragility-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-fragility-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-opalescence-section>
      <label class="datatable__input-label">
        Mineral opalescence
      </label>
      <textarea name="opalescence" placeholder="Insert new mineral opalescence" data-mineral-opalescence-input required maxlength="1"></textarea>
      <p class="datatable__field-value" data-mineral-opalescence-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-region-section>
      <label class="datatable__input-label">
        Mineral region
      </label>
      <textarea name="region" placeholder="Insert new mineral region" data-mineral-region-input required minlength="3"></textarea>
      <p class="datatable__field-value" data-mineral-region-paragraph></p>

    </fieldset>

    <fieldset class="datatable__row-section datatable__row-section--button-section">
      <button type="button" data-mineral-submit-update-button class="datatable__button datatable__button--editing ">Submit update</button>
      <button type="button" data-mineral-edit-abort-button class="datatable__button datatable__button--editing">Abort update</button>
      <button type="button" data-mineral-edit-button class="datatable__button">Edit</button>
      <button type="button" data-mineral-delete-button class="datatable__button">Delete</button>
    </fieldset>
  </form>
</div>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>

<script src="/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="/adminPanel.js" type="text/javascript"></script>
</body>
</html>