<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minerals Database Editor</title>
    <link rel="stylesheet" href="/css/admin_panel.css" type="text/css">
    <style>
        select:required:invalid {
            color: #666;
        }
        option[value=""][disabled] {
            display: none;
        }
        option {
            color: #000;
        }
        body {
            background-image: url("/pictures/background.jpg");
        }
    </style>
</head>
<body>
<div id="logout">
    <form th:action="@{/logout}" method="post">
        <input id="logout_button" type="submit" value="sign out">
    </form>
</div>
<main class="crud search_container">
    <section class="datatable">
        <h2>add a new mineral</h2>
        <form
                class="datatable__row datatable__row--add"
                method="POST"
                action="http://localhost:8080/admin_panel/createMineral"
                data-mineral-add-form
        >
            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    NAME
                </label>
                <input class="input_add_mineral" type="text" name="name" placeholder="insert a mineral name" required minlength="3">
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    COLOR
                </label>
                <input class="input_add_mineral" type="text" name="color" placeholder="insert mineral color" required minlength="3">
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    SHINE
                </label>
                <select class="input_add_mineral_select" name="shine" required="required">
                    <option value="" disabled selected hidden>choose</option>
                    <option value="none">none</option>
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    TRANSPARENCY
                </label>
                <select class="input_add_mineral_select" name="transparency" required="required">
                    <option value="" disabled selected hidden>choose</option>
                    <option value="none">none</option>
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    FRAGILITY
                </label>
                <select class="input_add_mineral_select" name="fragility" required="required">
                    <option value="" disabled selected hidden>choose</option>
                    <option value="none">none</option>
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    OPALESCENCE
                </label>
                <select class="input_add_mineral_select" name="opalescence" required="required">
                    <option value="" disabled selected hidden>choose</option>
                    <option value="Y">yes</option>
                    <option value="N">no</option>
                </select>
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    REGION
                </label>
                <input class="input_add_mineral" type="text" name="region" placeholder="insert region" required
                       minlength="3">
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--button-section">
                <button type="submit" data-mineral-add-button class="datatable__button">Add a mineral</button>
            </fieldset>
        </form>
    </section>
    <section class="datatable">
        <h2>minerals in database</h2>
        <div class="datatable__minerals-container" data-minerals-container></div>
    </section>
</main>

<div class="template" data-datatable-row-template>
    <form class="datatable__row" data-mineral-id="0">
        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-name-section>
            <textarea name="name" placeholder="Insert a new mineral name" data-mineral-name-input required
                      minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-name-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-color-section>
            <textarea name="color" placeholder="Insert new mineral color" data-mineral-color-input required
                      minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-color-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-shine-section>
            <textarea name="shine" placeholder="Insert new mineral shine" data-mineral-shine-input required
                      minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-shine-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section"
                  data-mineral-transparency-section>
            <textarea name="transparency" placeholder="Insert new mineral transparency" data-mineral-transparency-input
                      required minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-transparency-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-fragility-section>
            <textarea name="fragility" placeholder="Insert new mineral fragility" data-mineral-fragility-input required
                      minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-fragility-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-opalescence-section>
            <textarea name="opalescence" placeholder="Insert new mineral opalescence" data-mineral-opalescence-input
                      required maxlength="1"></textarea>
            <p class="datatable__field-value" data-mineral-opalescence-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-mineral-region-section>
            <textarea name="region" placeholder="Insert new mineral region" data-mineral-region-input required
                      minlength="3"></textarea>
            <p class="datatable__field-value" data-mineral-region-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--button-section">
            <button type="button" data-mineral-submit-update-button
                    class="datatable__button datatable__button--editing ">Submit update
            </button>
            <button type="button" data-mineral-edit-abort-button class="datatable__button datatable__button--editing">
                Abort update
            </button>
            <button type="button" data-mineral-edit-button class="datatable__button">Edit</button>
            <button type="button" data-mineral-delete-button class="datatable__button">Delete</button>
        </fieldset>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="/js/admin_panel.js" type="text/javascript"></script>
</body>
</html>