<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/admin_login.css">
<body>
<style>
    body {
        background-image: url("/pictures/background.jpg");
    }
</style>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div id="login">
    <form id="login_form" th:action="@{/admin_login}" method="post">
        <p>Username</p>
        <input class="input_field" type="text" name="username"/>
        <p>Password</p>
        <input class="input_field" type="password" name="password"/>
        <div th:if="${param.error}">
            invalid username or password
        </div>
        <div>
            <input class="buttons" type="submit" value="sign in"
                   style="height:30px; width:70px; font-weight: bold; align-self: center">
            <input class="buttons" type="button" value="go back" onclick="parent.location='index.html'"
                   style="height:30px; width:70px">
        </div>
    </form>
</div>
</body>
</html>