<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/pictures/background.jpg");
        }
    </style>
    <title>Minerals Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/css/mineral_search.css"/>
    <link rel="icon" type="image/png" href="/pictures/favicon.png">
</head>
<body>
<main>
    <div id="logout">
        <form th:action="@{/logout}" method="post">
            <input id="logout_button" type="submit" value="sign out">
        </form>
    </div>
    <div class="grid_container">
        <div class="search_container">
            <div class="search_container_header">CHOOSE FEATURE</div>
            <form class="search_form" th:action="@{'/mineral_search'}" method="POST">
                <fieldset>
                    <label>NAME</label>
                    <select class="search_field" name="name">
                        <option value="" selected></option>
                        <option th:each="n:${names}" th:value="${n}" th:text="${n}"></option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>COLOR</label>
                    <select class="search_field" name="color">
                        <option value="" selected></option>
                        <option th:each="c:${colors}" th:value="${c}" th:text="${c}"></option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>SHINE</label>
                    <select class="search_field" name="shine">
                        <option value="" selected></option>
                        <option value="none">none</option>
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>TRANSPARENCY</label>
                    <select class="search_field" name="transparency">
                        <option value="" selected></option>
                        <option value="none">none</option>
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>FRAGILITY</label>
                    <select class="search_field" name="fragility">
                        <option value="" selected></option>
                        <option value="none">none</option>
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>OPALESCENCE</label>
                    <select class="search_field" name="opalescence">
                        <option value="" selected></option>
                        <option value="Y">yes</option>
                        <option value="N">no</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label>REGION</label>
                    <select class="search_field" name="region">
                        <option value="" selected></option>
                        <option th:each="r:${regions}" th:value="${r}" th:text="${r}"></option>
                    </select>
                </fieldset>

                <fieldset class="button_fieldset">
                    <input class="button" type="submit" value="search" style="font-weight: bold">
                </fieldset>

                <fieldset class="button_fieldset">
                    <input class="button" type="button" value="go back" onclick="parent.location='index.html'" style="font-size: 16px">
                </fieldset>
            </form>
        </div>
        <div class="database_container">
            <table>
                <caption></caption>
                <thead>
                <tr class="headers">
                    <th>NAME</th>
                    <th>COLOR</th>
                    <th>SHINE</th>
                    <th>TRANSPARENCY</th>
                    <th>FRAGILITY</th>
                    <th>OPALESCENCE</th>
                    <th>REGION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mineral: ${minerals}">
                    <td th:text="${mineral.name}"></td>
                    <td th:text="${mineral.color}"></td>
                    <td th:text="${mineral.shine}"></td>
                    <td th:text="${mineral.transparency}"></td>
                    <td th:text="${mineral.fragility}"></td>
                    <td th:text="${mineral.opalescence}"></td>
                    <td th:text="${mineral.region}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>